@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
/* font-family: "Gravitas One", serif; */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #181818;    
}



.presentation{
    background-color:#181818;
    height: 400px;
    width: 100%;
    color: #EBDDC3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation_title{
    font-family: "Gravitas One", serif;
    font-size: 58px;
}
.name_year_presentation{
    display: flex;
    flex-direction: row;
    gap: 111px;
}

#name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#year{
    font-family: "Gravitas One", serif;
    font-size: 24px;
}


/* fim da primeira parte - apresentação */

.introduction{
    padding: 84px;
    background-color:#181818;
    height: 831px;
    width: 100%;
    color: #EBDDC3;
    display: flex;
    flex-direction: row;
    gap: 62px;
    align-items: center;
}
.about_me{
    width: 610px;
    height: 626px;
}
.about_me_title{
    font-family: "Gravitas One", serif;
    font-size: 84px;
}
.about_me_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: justify;
}

.portrait{
    height:411px ;
    width:355px ;
    border-radius: 21px;
}
.about_me_description{
    width: 216px;
}
















.container_table_of_contents {
  display: flex;
  justify-content: center;
  
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 220px;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Botões da esquerda */
.outline {
  background-color: transparent;
  color: #e8e1d3;
  border: 1.5px solid #e8e1d3;
}

/* Botões da direita */
.filled {
  background-color: #e8e1d3;
  color: #111;
  border: none;
}

/* Efeito hover opcional */
.btn:hover {
  opacity: 0.85;
}