@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
/* font-family: "Gravitas One", serif; */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #181818;    
    /* border: 1px solid red; */
    
}



.presentation{
    background-color:#181818;
    height: 400px;
    width: 100%;
    color: #EBDDC3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.presentation_title{
    font-family: "Gravitas One", serif;
    font-size: 58px;
}
.name_year_presentation{
    display: flex;
    flex-direction: row;
    gap: 111px;
}

#name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#year{
    font-family: "Gravitas One", serif;
    font-size: 24px;
}


/* fim da primeira parte - apresentação */

.introduction{
    padding: 84px;
    background-color:#181818;
    /* border: 1px solid blueviolet; */
    color: #EBDDC3;
    display: flex;
    flex-direction: row;
    gap: 62px;
    align-items: center;
    
}
.about_me{
    width: 610px;
    height: 626px;
    /* border: 1px solid green; */
}
.about_me_title{
    font-family: "Gravitas One", serif;
    font-size: 84px;
}
.about_me_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: justify;
}

.portrait{
    height:411px ;
    width:355px ;
    border-radius: 21px;
}
.about_me_description{
    width: 216px;
}






.container_table_of_contents {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* border: 1px solid green; */
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 220px;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Botões da esquerda */
.outline {
  background-color: transparent;
  color: #EBDDC3;
  border: 1.5px solid #EBDDC3;
}

/* Botões da direita */
.filled {
  background-color: #EBDDC3;
  color: #181818;
  border: none;
}

/* Efeito hover opcional */
.btn:hover {
  opacity: 0.85;
}

.box_mensage{
    color:#fff;
    background-color: #181818;
    display: flex;
    align-items: center;
    border-radius: 47px;
    width: 369px;
    height:178.52px ;
    /* vou ter que usar left flutuante */
    position:relative;
    z-index: 2;
    left:814px;
    top: 910px;
    border:1px solid #EBDDC3;
}

.cool_mensage{
    text-align: center;
    font-family: "Gravitas One", serif;
    font-size: 22px;
    padding: 22px;
}


.education_Global{
    height:454px;
    background-color: #EBDDC3;   
    border: 1px solid blue;  
    padding:64px 84px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    
    
}
  
.primeira_parte{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.segunda_parte{
    display: flex;
    gap: 64px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.faculty_title{
    color:#fff;
    background-color: #181818;
    width: 689px;
    padding: 12px;
    border-radius: 8px;
    
}
.title_UNIT{
    font-family: "Gravitas One", serif;
    font-size: 24px;
}
.course_description{
    font-family: 'Courier New', Courier, monospace;

}

.description_of_the_learnings{
    width:404px ;
    height:287px ;
    background-color:#181818 ;
    color: #fff;
    border-radius: 8px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    gap: 12px;
}

.description_text_education{
    height: 100px;
    
}
.titulo_principal_educacao{
    font-size: 34px;
    font-family: "Gravitas One", serif;

}

.icon_tech{
    /* border: 1px solid #181818; */
/* Sintaxe: horizontal vertical blur spread cor */
box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    width:572px ;
    height:163px ;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}